.App {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.container {
  width: 31%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.header{
  height: 20%;
  font-size: 550%;
  margin: 0;
  margin-top: 5%;
  color: #74b9ff;
}

.board {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
}

.play-btn {
background-color: #74b9ff;
border: 0;
padding: 0;
height: 7%;
width: 20%;
border-radius: 12rem;
color: aliceblue;
font-size: large;
font-weight: 600;
margin-top: 5%;
}

.center1 {
  height: 15%;
  width: 100%;
}

.center2 {
  height: 15%;
  width: 100%;
}

.center3 {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
}

.center4 {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
}

.vertical1 {
  width: 10%;
  height: 100%;
  z-index: 1;
  margin-left: 45%;
  position: absolute;
  display: flex;
  align-items: center;
}

.vertical2 {
  width: 10%;
  height: 100%;
  z-index: 2;
  margin-left: 45%;
  position: absolute;
  display: flex;
  align-items: center;
}

.horizontal3 {
  width: 100%;
  height: 10%;
  z-index: 3;
  margin-top: 45%;
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.horizontal4 {
  width: 100%;
  height: 10%;
  z-index: 4;
  margin-top: 45%;
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.right {
  background-color: #74b9ff;
  opacity: 0.7;
  width: 50%;
  height: 100%;
  border-top-right-radius: 12rem;
  border-bottom-right-radius: 12rem;
}


.left {
  background-color: #74b9ff;
  opacity: 0.7;
  height: 100%;
  width: 50%;
  border-top-left-radius: 12rem;
  border-bottom-left-radius: 12rem;
}

.top {
  background-color: #74b9ff;
  opacity: 0.7;
  width: 100%;
  height: 50%;
  border-top-left-radius: 12rem;
  border-top-right-radius: 12rem;
}


.bottom {
  background-color: #74b9ff;
  opacity: 0.7;
  height: 50%;
  width: 100%;
  border-bottom-left-radius: 12rem;
  border-bottom-right-radius: 12rem;
}

.table {
  height: 100%;
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  height: 33.3%;
}

.cell {
  display: flex;
  height: 100%;
  width: 33.3%;
  align-items: center;
  justify-content: center;
}

.board.disabled {
  pointer-events: none;
  opacity: 0.5;
}

#outer-circle {
  width: 50%;
  height: 50%;
  background-color: #f9ca24;
  opacity: 0.9;
  z-index: 1;
  border-radius: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inner-circle {
  width: 50%;
  height: 50%;
  background-color: #f0f0f0;
  z-index: 2;
  border-radius: 12rem;
}

.x-container {
  width: 60%;
  height: 60%;
  display: flex;
  position: relative;
  align-items: center;
}

.x-line {
  width: 100%;
  height: 20%;
  background-color: #f9ca24;
  opacity: 0.9;
  margin-top: 10%;
  transform: rotate(45deg);
  border-radius: 12rem;
  position: absolute;
  z-index: 1;
}

.x-line:nth-of-type(2) {
  transform: rotate(-45deg);
  z-index: 2;
}